@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Lato:wght@400;900&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital@0;1&display=swap');

:root {
    --overlay-color: #03a9f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#111;
    color: white;
    z-index: 2;
    transition: .5s;
}
.showcase.active {
    right: 300px;
}

.menu {
    
}
.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}
/* .fa-times {
    display: none;
} */
.active {
    display: block;
}

.showcase video {
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.text {
    position: relative;
    z-index: 10;
}

.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.9); */
    background-color: var(--overlay-color);
    mix-blend-mode: overlay;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight:700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background-color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
    list-style: none;
}

.social li a{
  display: inline;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: .5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px)
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
  color: var(--overlay-color);
}

@media (max-width :791){
   .showcase,
   .showcase header {
    padding: 40px;
   }

   .text h2 {
    font-size: 3em ;
   }
   text h3 {
    font-size: 2em ;
   }
}